In [14]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module. Go to the editor
Click me to see the sample solution

In [3]:
a = pd.Series([5,3,4,2,4])
a

0    5
1    3
2    4
3    2
4    4
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type. Go to the editor
Click me to see the sample solution

In [ ]:
a = pd.Series([5,3,4,2,4])

In [4]:
b = list(a)
b

[5, 3, 4, 2, 4]

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
a,b = pd.Series([2,4,6,8,10]), pd.Series([1,3,5,7,9])

In [6]:
a+b

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [7]:
a-b

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [8]:
a*b

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
a/b

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [10]:
b = pd.Series([1,3,5,7,10])

In [11]:
a==b

0    False
1    False
2    False
3    False
4     True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series. Go to the editor
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [12]:
a = {'a':100, 'b':200, 'c':300, 'd':400, 'e':800}

In [13]:
b = pd.Series(a)
b

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series. Go to the editor
Sample Series:
NumPy array:
[10 20 30 40 50]

In [15]:
a = np.array([10,20,30,40,50])

In [16]:
b = pd.Series(a)
b

0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series. Go to the editor
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [19]:
a = pd.Series([100,200, 'python', 300.12, 400])
a

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [20]:
b = pd.to_numeric(a, errors='coerce')
b

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series. Go to the editor
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>
Click me to see the sample solution

In [22]:
a = pd.DataFrame([[1,4,7],[2,5,5],[3,6,8],[4,9,12],[7,5,1],[11,0,11]])
a

    0  1   2
0   1  4   7
1   2  5   5
2   3  6   8
3   4  9  12
4   7  5   1
5  11  0  11

In [28]:
b = a.loc[:,0]
type(b)

pandas.core.series.Series

10. Write a Pandas program to convert Series of lists to one Series. Go to the editor
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object
Click me to see the sample solution

In [29]:
list0, list1, list2 = ['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']

In [30]:
a = pd.Series([list0, list1, list2])
a

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [37]:
b = a.apply(pd.Series).stack().reset_index(drop = True)
b

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series. Go to the editor
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object
Click me to see the sample solution

In [40]:
a = pd.Series([100, 200, 'python', 300.12, 400])
a

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [46]:
b=a.apply(str)
b

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [49]:
b.sort_values(inplace=True)
b

0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series. Go to the editor
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object
Click me to see the sample solution

In [97]:
a = pd.Series([0,100,200,'python', 300.12, 400])

In [98]:
a.append(pd.Series(['500','php']), ignore_index=True)

0         0
1       100
2       200
3    python
4    300.12
5       400
6       500
7       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition. Go to the editor
Sample Output:
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [101]:
a = pd.Series(range(10))
a

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [103]:
a.loc[a<6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series. Go to the editor
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64
Click me to see the sample solution

In [106]:
a = pd.Series(range(1,6),index = ['A','B','C','D','E'])
a

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [107]:
a.reindex()

A    1
B    2
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. Go to the editor
Sample Output:
Original Data Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 5
10 3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565
Click me to see the sample solution

In [108]:
a = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [109]:
a.mean()

4.818181818181818

In [110]:
a.std()

2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given series. Go to the editor
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64
Click me to see the sample solution

In [113]:
sr1 = pd.Series(range(1,6))
sr2 = pd.Series(range(2,12,2))

In [117]:
sr1[sr1.isin(sr2)]

1    2
3    4
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series. Go to the editor
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of a given series not present in another given series:
0 1
2 3
4 5
5 6
6 8
7 10
dtype: int64
Click me to see the sample solution

In [118]:
sr1 = pd.Series(range(1,5))
sr2 = pd.Series(range(2,12,2))
sr1, sr2

(0    1
 1    2
 2    3
 3    4
 dtype: int64,
 0     2
 1     4
 2     6
 3     8
 4    10
 dtype: int64)

In [123]:
sr3 = pd.Series(np.union1d(sr1, sr2))
sr4 = pd.Series(np.intersect1d(sr1, sr2))
sr5 = sr3[~sr3.isin(sr4)]
sr5

0     1
2     3
4     6
5     8
6    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. Go to the editor
Sample Output:
Original Series:
0 3.000938
1 11.370722
2 14.612143
3 8.990256
4 13.925283
5 12.056875
.... 17 14.118931
18 8.247458
19 5.526727
dtype: float64
Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]
Click me to see the sample solution

In [133]:
sr1 = pd.Series([np.random.uniform(2.0, 20.0) for a in range(20)])
sr1

0     19.782985
1     16.204609
2     13.073234
3     12.637588
4     12.027267
5      2.166272
6      9.421693
7     19.639997
8     13.439877
9     18.570476
10     5.617312
11    10.079235
12     6.963090
13     4.429909
14     9.641321
15    15.472951
16     8.173323
17    13.461864
18     8.578008
19    10.568110
dtype: float64

In [136]:
sr1.min(), sr1.quantile(0.25), sr1.median(), sr1.quantile(0.75), sr1.max()

(2.166271691695162,
 8.476836834739592,
 11.297688413108721,
 13.964635689070223,
 19.782985383216754)

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series. Go to the editor
Sample Output:
Original Series:
0 1
1 7
2 1
3 6
4 9
5 1
... 29 2
30 9
31 1
32 2
33 9
34 2
35 9
36 0
37 0
38 4
39 8
dtype: object
Frequency of each unique value of the said series.
0 9
2 7
9 6
1 5
6 3
8 3
7 3
3 2
4 1
5 1
dtype: int64
Click me to see the sample solution

In [137]:
sr1 = pd.Series([np.random.randint(0,10) for a in range(40)])
sr1

0     1
1     7
2     0
3     9
4     6
5     8
6     4
7     1
8     0
9     3
10    3
11    1
12    1
13    8
14    5
15    6
16    2
17    9
18    7
19    7
20    9
21    1
22    0
23    4
24    4
25    5
26    3
27    1
28    2
29    6
30    7
31    0
32    5
33    3
34    8
35    2
36    6
37    6
38    6
39    6
dtype: int64

In [141]:
sr1.value_counts()

6    7
1    6
0    4
3    4
7    4
2    3
4    3
5    3
8    3
9    3
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series. Go to the editor
Sample Output:
Original Series:
0 3
1 1
2 1
3 3
4 2
5 2
6 1
7 2
8 3
9 1
10 2
11 2
12 2
13 3
14 3
dtype: int64
Top 2 Freq: 2 6
3 5
1 4
dtype: int64
0 Other
1 Other
2 Other
3 Other
4 2
5 2
6 Other
7 2
8 Other
9 Other
10 2
11 2
12 2
13 Other
14 Other
dtype: object
Click me to see the sample solution

In [179]:
sr1 = pd.Series([np.random.randint(1,4) for a in range(15)])
sr1

0     1
1     2
2     3
3     2
4     1
5     3
6     1
7     3
8     1
9     2
10    2
11    1
12    3
13    1
14    3
dtype: int64

In [180]:
max_freq = sr1.value_counts().index[0]
max_freq

1

In [181]:
sr1[sr1 != max_freq] = 'other'
sr1

0         1
1     other
2     other
3     other
4         1
5     other
6         1
7     other
8         1
9     other
10    other
11        1
12    other
13        1
14    other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series. Go to the editor
Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64
Positions of numbers that are multiples of 5:
[]
Click me to see the sample solution

In [ ]:
sr1 = pd.Series([1,9,8,6,9,7,1,1,5])

In [611]:
list(sr1[sr1//5==0])

[]

22. Write a Pandas program to extract items at given positions of a given series. Go to the editor
Sample Output:
Original Series:
0 2
1 3
2 9
3 0
4 2
5 3
... 19 0
20 2
21 3
dtype: object
Extract items at given positions of the said series:
0 2
2 9
6 8
11 0
21 3
dtype: object
Click me to see the sample solution

In [186]:
sr1 = pd.Series(np.random.randint(0,9,22))
sr1

0     8
1     3
2     0
3     2
4     7
5     5
6     7
7     5
8     5
9     4
10    4
11    1
12    2
13    0
14    4
15    6
16    8
17    5
18    4
19    6
20    8
21    0
dtype: int32

In [193]:
sr1[[0,2,6,11,21]]

0     8
2     0
6     7
11    1
21    0
dtype: int32

In [ ]:
23. Write a Pandas program to get the positions of items of a given series 
in another given series. Go to the editor
Sample Output:
Original Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
dtype: int64
0 1
1 3
2 5
3 7
4 10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]
Click me to see the sample solution

In [199]:
sr1 = pd.Series(range(1,11))
sr2 = pd.Series(range(1,9,2))
sr2 = sr2.append(pd.Series(10), ignore_index=True)
sr1, sr2

(0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 dtype: int64,
 0     1
 1     3
 2     5
 3     7
 4    10
 dtype: int64)

In [221]:
sr3 = []
for i in sr2:
    a = sr1[sr1==i]
    if a.notnull:
        sr3.append(a.index[0])

In [222]:
sr3

[0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series. Go to the editor
Sample Output:
Original Series:
0 php
1 python
2 java
3 c#
dtype: object
First and last character of each word to upper case:
0 PhP
1 PythoN
2 JavA
3 C#
dtype: object
Click me to see the sample solution

In [226]:
sr1 = pd.Series(['php', 'python', 'java', 'c#'])
sr1

0       php
1    python
2      java
3        c#
dtype: object

In [230]:
sr2 = sr1.map(lambda x: x.capitalize())
sr2

0       Php
1    Python
2      Java
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given series. Go to the editor
Sample Output:
Original Series:
0 Php
1 Python
2 Java
3 C#
dtype: object
Number of characters in each word in the said series:
0 3
1 6
2 4
3 2
dtype: int64
Click me to see the sample solution

In [231]:
sr2.map(lambda x: len(x))

0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series. Go to the editor
Sample Output:
Original Series:
0 1
1 3
2 5
3 8
4 10
5 11
6 15
dtype: int64
Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]
Click me to see the sample solution

In [232]:
sr1 = pd.Series([1,3,5,8,10,11,15])

In [235]:
sr2 = sr1.diff()
sr3 = sr2.diff()
sr2.to_list(), sr3.to_list()

([nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0], [nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0])

27. Write a Pandas program to convert a series of date strings to a timeseries. Go to the editor
Sample Output:
Original Series:
0 01 Jan 2015
1 10-02-2016
2 20180307
3 2014/05/06
4 2016-04-12
5 2019-04-06T11:20
dtype: object
Series of date strings to a timeseries:
0 2015-01-01 00:00:00
1 2016-10-02 00:00:00
2 2018-03-07 00:00:00
3 2014-05-06 00:00:00
4 2016-04-12 00:00:00
5 2019-04-06 11:20:00
dtype: datetime64[ns]
Click me to see the sample solution

In [236]:
sr1 = pd.Series(['01 Jan 2015','10-02-2016','20180307',
                 '2014/05/06','2016-04-12','2019-04-06T11:20'])
sr1

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [243]:
sr2 = pd.to_datetime(sr1)
sr2

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings. Go to the editor
Sample Output:
Original Series:
0 01 Jan 2015
1 10-02-2016
2 20180307
3 2014/05/06
4 2016-04-12
5 2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']
Click me to see the sample solution

In [303]:
from datetime import date
from datetime import timedelta

1

In [307]:
days = sr2.map(lambda x: x.day)
weeks = sr2.map(lambda x: x.week)
weekdays_dict = {1:'Monday', 2: 'Tuesday', 3: 'Wednesday', 4 : 'Thursday',
                5: 'Friday', 6: 'Saturday', 7: 'Sunday'}
weekdays = sr2.map(lambda x: weekdays_dict[x.isoweekday()])
days_from_year = sr2.map(lambda x: (x.date() - date(x.year,1,1)).days + 1)
days.tolist(), days_from_year.to_list(), weeks.tolist(), weekdays.tolist()

([1, 2, 7, 6, 12, 6],
 [1, 276, 66, 126, 103, 96],
 [1, 39, 10, 19, 15, 14],
 ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday'])

29. Write a Pandas program to convert year-month string to dates adding a specified day of the month. Go to the editor
Sample Output:
Original Series:
0 Jan 2015
1 Feb 2016
2 Mar 2017
3 Apr 2018
4 May 2019
dtype: object
New dates:
0 2015-01-11
1 2016-02-11
2 2017-03-11
3 2018-04-11
4 2019-05-11
dtype: datetime64[ns]
Click me to see the sample solution

In [324]:
sr1 = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
day = input()
sr2 = pd.to_datetime(sr1.map(lambda x: '{0} {1}'.format(day,x)))
sr2

5

0   2015-01-05
1   2016-02-05
2   2017-03-05
3   2018-04-05
4   2019-05-05
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two vowels. Go to the editor
Sample Output:
Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object
Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object
Click me to see the sample solution

In [330]:
sr1 = pd.Series(['Red', 'Orange', 'Pink', 'Yellow', 'White'])
vowels = ['a', 'e', 'i', 'o', 'u', 'y']
_ = [x.capitalize() for x in vowels]
vowels.extend(_)
vowels

['a', 'e', 'i', 'o', 'u', 'y', 'A', 'E', 'I', 'O', 'U', 'Y']

In [342]:
from collections import Counter
mask = sr1.map(lambda x: sum(Counter(x).get(i,0) for i in vowels) >= 2)
sr1[mask]

1    Orange
3    Yellow
4     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series. Go to the editor
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.
Sample Output:
Original series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
dtype: int64
0 11
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
Euclidean distance between two said series:
16.492422502470642
Click me to see the sample solution

In [356]:
sr1 = pd.Series(range(1,11))
sr2 = pd.Series([11,8,7,5,6,5,3,4,7,1])

In [363]:
result = np.sqrt(sum([(sr1[i]-sr2[i])**2 for i in range(len(sr1))]))
result

16.492422502470642

test

In [392]:
sr1 = pd.Series(np.random.randint(1,10,1000000))
sr2 = pd.Series(np.random.randint(1,10,1000000))

In [393]:
%%time
result = np.sqrt(sum([(sr1[i]-sr2[i])**2 for i in range(len(sr1))]))

Wall time: 6.83 s

In [394]:
%%time
result = sum([(sr1[i]-sr2[i])**2 for i in range(len(sr1))])**0.5

Wall time: 6.99 s

In [395]:
%%time
result = np.linalg.norm(sr1 - sr2)

Wall time: 4.99 ms

In [396]:
result

3652.442196667868

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series. Go to the editor
Sample Output:
Original series:
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
Positions of the values surrounded by smaller values on both sides:
[1 4 8]
Click me to see the sample solution

In [397]:
sr1 = pd.Series([1,8,7,5,6,5,3,4,7,1])

In [426]:
sr1r = sr1.diff()
sr1l = sr1.diff(-1)
mask = (sr1l>0)&(sr1r>0)
sr1[mask].index.to_list()

[1, 4, 8]

33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character. Go to the editor
Sample Output:
Original series:
abc def abcdef icd
c 3
d 3
3
b 2
e 2
a 2
f 2
i 1
dtype: int64
abcidefiabcdefiicd
Click me to see the sample solution

In [448]:
a = 'abc def abcdef icd'

In [450]:
b = Counter(a)
b = b.most_common()[-1][0]
a = a.replace(' ', b)
a

'abcidefiabcdefiicd'

34. Write a Pandas program to compute the autocorrelations of a given numeric series. Go to the editor
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.
Sample Output:
Original series:
0 13.207262
1 4.098685
2 -1.435534
3 13.626760
... 13 -2.346193
14 17.873884
dtype: float64
Autocorrelations of the said series:
[-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]
Click me to see the sample solution

In [461]:
sr1 = pd.Series(np.random.uniform(-5,18,15))
sr1

0     16.422147
1      1.041572
2      7.597368
3      0.559915
4      4.188316
5      0.224869
6      9.411154
7      5.576234
8      9.339940
9     -0.965347
10    14.789744
11     1.186547
12    16.292121
13     4.442545
14    -2.290772
dtype: float64

In [463]:
result = [sr1.autocorr(i) for i in range(len(sr1))]
result

[1.0,
 -0.5377328963809119,
 0.3672770846009813,
 -0.4741417730063896,
 0.15483448504512082,
 -0.32326908946560534,
 0.3601458892488166,
 -0.49389973965615835,
 0.26863059542450507,
 -0.5217155563112165,
 0.7242907929550794,
 -0.3166312333830226,
 0.6934048016667937,
 1.0,
 nan]

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year. Go to the editor
Sample Output:
All Sundays of 2019:
0 2020-01-05
1 2020-01-12
2 2020-01-19
3 2020-01-26
4 2020-02-02
5 2020-02-09
..... 48 2020-12-06
49 2020-12-13
50 2020-12-20
51 2020-12-27
dtype: datetime64[ns]
Click me to see the sample solution

In [510]:
year = input()

1572

In [511]:
a = date(int(year), 1, 1)
b = a.replace(int(year)+1)
c = b-a
d = [date(int(year),1 ,1) + timedelta(days = i) for i in range(c.days)]

In [514]:
sr1 = pd.Series(d)
mask = sr1.map(lambda x: x.isoweekday()==7)
sr1[mask]

1      1572-01-02
8      1572-01-09
15     1572-01-16
22     1572-01-23
29     1572-01-30
36     1572-02-06
43     1572-02-13
50     1572-02-20
57     1572-02-27
64     1572-03-05
71     1572-03-12
78     1572-03-19
85     1572-03-26
92     1572-04-02
99     1572-04-09
106    1572-04-16
113    1572-04-23
120    1572-04-30
127    1572-05-07
134    1572-05-14
141    1572-05-21
148    1572-05-28
155    1572-06-04
162    1572-06-11
169    1572-06-18
176    1572-06-25
183    1572-07-02
190    1572-07-09
197    1572-07-16
204    1572-07-23
211    1572-07-30
218    1572-08-06
225    1572-08-13
232    1572-08-20
239    1572-08-27
246    1572-09-03
253    1572-09-10
260    1572-09-17
267    1572-09-24
274    1572-10-01
281    1572-10-08
288    1572-10-15
295    1572-10-22
302    1572-10-29
309    1572-11-05
316    1572-11-12
323    1572-11-19
330    1572-11-26
337    1572-12-03
344    1572-12-10
351    1572-12-17
358    1572-12-24
365    1572-12-31
dtype: object

36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe. Go to the editor
Sample Output:
index 0
0 A 0
1 B 1
2 C 2
3 D 3
4 E 4
Click me to see the sample solution

In [522]:
sr1 = pd.Series(list('ABCDE'))
sr1

0    A
1    B
2    C
3    D
4    E
dtype: object

In [537]:
df1 = pd.DataFrame(sr1).assign(ser_index = sr1.index)
df1

   0  ser_index
0  A          0
1  B          1
2  C          2
3  D          3
4  E          4

37. Write a Pandas program to stack two given series vertically and horizontally. Go to the editor
Sample Output:
Original Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
dtype: int64
0 p
1 q
2 r
3 s
4 t
5 u
6 v
7 w
8 x
9 y
dtype: object
Stack two given series vertically and horizontally:
0 1
0 0 p
1 1 q
2 2 r
3 3 s
4 4 t
5 5 u
6 6 v
7 7 w
8 8 x
9 9 y
Click me to see the sample solution

In [555]:
sr1 = pd.Series(range(10))
sr2 = pd.Series(list('pqrstuvwxy')).rename('sr2')

In [556]:
df1 = sr1.to_frame()

In [557]:
df1.join(sr2, lsuffix='0', rsuffix='sr2')

   0 sr2
0  0   p
1  1   q
2  2   r
3  3   s
4  4   t
5  5   u
6  6   v
7  7   w
8  8   x
9  9   y

In [562]:
pd.concat([sr1, sr2], axis=1)

   0 sr2
0  0   p
1  1   q
2  2   r
3  3   s
4  4   t
5  5   u
6  6   v
7  7   w
8  8   x
9  9   y

38. Write a Pandas program to check the equality of two given series. Go to the editor
Sample Output:
Original Series:
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
Check 2 series are equal or not?
0 True
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
dtype: bool
Click me to see the sample solution

In [569]:
sr1 = pd.Series([1,8,7,5,6,5,3,4,7,1])
sr2 = pd.Series([1,8,7,5,6,3,3,4,7,1])

In [570]:
sr1==sr2

0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8     True
9     True
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series. Go to the editor
Sample Output:
Original Series:
0 1
1 3
2 7
3 12
4 88
5 23
6 3
7 1
8 9
9 0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4
Click me to see the sample solution

In [571]:
sr1 = pd.Series([1,3,7,12,88,23,3,1,9,0])

In [582]:
sr1.idxmin(), sr1.idxmax()

(9, 4)

40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series. Go to the editor
Sample Output:
Original DataFrame:
W X Y Z
0 68.0 78.0 84 86
1 75.0 75.0 94 97
2 86.0 NaN 89 96
3 80.0 80.0 86 72
4 NaN 86.0 86 83
Original Series:
0 68.0
1 75.0
2 86.0
3 80.0
4 NaN
dtype: float64
Check for inequality of the said series & dataframe:
W X Y Z
0 False True True True
1 False False True True
2 False True True True
3 False False True True
4 True True True True
Click me to see the sample solution

In [587]:
df1 = pd.DataFrame({'W':[68,75,86,80,None],
                   'X':[78,75,None,80,86],
                   'Y':[84,94,89,86,86],
                   'Z':[86,97,96,72,83]})
df1

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

In [588]:
sr1 = pd.Series([68,75,86,80,None])
sr1

0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

In [609]:
result = pd.DataFrame()
for a in df1.columns:
    result[a] = df1[a]!=sr1
result

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True

In [608]:
#solution
df1.ne(sr1, axis = 0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True